In [ ]:
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

In [ ]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/MLDatasets/salaries.csv")
inputs=df.drop('salary_more_then_100k',axis='columns')
target=df['salary_more_then_100k']

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [ ]:
inputs['company_new']=le_company.fit_transform(inputs['company'])
inputs['job_new']=le_company.fit_transform(inputs['job'])
inputs['degree_new']=le_company.fit_transform(inputs['degree'])
inputs=inputs.drop(['company','job','degree'],axis='columns')
inputs

    company_new  job_new  degree_new
0             2        2           0
1             2        2           1
2             2        0           0
3             2        0           1
4             2        1           0
5             2        1           1
6             0        2           1
7             0        1           0
8             0        0           0
9             0        0           1
10            1        2           0
11            1        2           1
12            1        0           0
13            1        0           1
14            1        1           0
15            1        1           1

In [ ]:
from sklearn import tree
model=tree.DecisionTreeClassifier()
model.fit(inputs,target)

DecisionTreeClassifier()

In [ ]:
model.score(inputs,target)

1.0

In [ ]:
model.predict([[2,0,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1])